<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.buding.db.model.DayExchange">
  <resultMap id="BaseResultMap" type="com.buding.db.model.DayExchange">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="conf_id" jdbcType="VARCHAR" property="confId" />
    <result column="day" jdbcType="INTEGER" property="day" />
    <result column="used" jdbcType="INTEGER" property="used" />
  </resultMap>
  <sql id="Base_Column_List">
    id, conf_id, day, used
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 'true' as QUERYID,
    <include refid="Base_Column_List" />
    from day_exchange
    where id = #{id,jdbcType=INTEGER}
  </select>
  <insert id="insert" parameterType="com.buding.db.model.DayExchange">
    insert into day_exchange (id, conf_id, day, 
      used)
    values (#{id,jdbcType=INTEGER}, #{confId,jdbcType=VARCHAR}, #{day,jdbcType=INTEGER}, 
      #{used,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.buding.db.model.DayExchange">
    update day_exchange
    set conf_id = #{confId,jdbcType=VARCHAR},
      day = #{day,jdbcType=INTEGER},
      used = #{used,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>