<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.buding.db.model.UserAward">
  <resultMap id="BaseResultMap" type="com.buding.db.model.UserAward">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="award_id" jdbcType="BIGINT" property="awardId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="received" jdbcType="BIT" property="received" />
    <result column="mtime" jdbcType="TIMESTAMP" property="mtime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, award_id, user_id, received, mtime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 'true' as QUERYID,
    <include refid="Base_Column_List" />
    from user_award
    where id = #{id,jdbcType=INTEGER}
  </select>
  <insert id="insert" parameterType="com.buding.db.model.UserAward">
    insert into user_award (id, award_id, user_id, 
      received, mtime)
    values (#{id,jdbcType=INTEGER}, #{awardId,jdbcType=BIGINT}, #{userId,jdbcType=INTEGER}, 
      #{received,jdbcType=BIT}, #{mtime,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.buding.db.model.UserAward">
    update user_award
    set award_id = #{awardId,jdbcType=BIGINT},
      user_id = #{userId,jdbcType=INTEGER},
      received = #{received,jdbcType=BIT},
      mtime = #{mtime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>