<div ng-controller="MainCtrl">
    <div class="container-fluid">

        <div class="row-fluid">

            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon"><i class="icon-info"></i></span>
                    <h5>代理商列表</h5>
                    <div class="actions">
                        <button class="btn" ng-click="tmp.editOne = {}; ctrl.isShowAdd = true;">新增代理商</button>
                        <button class="btn" ng-click="loginAgentSys();">登录代理商系统</button>
                    </div>
                </div>

                <div class="widget-content">
                    <form name="queryForm">
                        <table class="table table-bordered table-striped m_top6">
                            <tr ui-layout-col="">
                                <td>
                                    <label>帐号/姓名：</label>
                                </td>
                                <td>
                                    <input type="text" ng-model="query.name" placeholder="输入代理商姓名或帐号"/>
                                </td>
                                <td>
                                    <label>创建时间：</label>
                                </td>
                                <td>
                                    <input type="text" ng-model="query.registerStartTime"
                                           ui-date="{dateFormat: 'yy-mm-dd', changeMonth: true, changeYear: true, showOtherMonths: true, showHour: false, showMinute: false}"
                                           ui-valid="datetime"/>
                                    -
                                    <input type="text" ng-model="query.registerEndTime"
                                           ui-date="{dateFormat: 'yy-mm-dd', changeMonth: true, changeYear: true, showOtherMonths: true, showHour: false, showMinute: false}"
                                           ui-valid="datetime"/>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="6" class="al">
                                    <button class="btn-primary" ng-click="queryLl()">查询</button>
                                </td>
                            </tr>
                        </table>
                    </form>
                </div>

                <div class="widget-content">
                    <table class="table table-bordered table-striped">
                        <tr>
                            <th width="5%">id</th>
                            <th >账号</th>
                            <th >姓名</th>
                            <th >密码</th>
                            <th >房卡</th>
                            <th >积分</th>
                            <th >累计进卡</th>
                            <th >累计售卡</th>
                            <th >创建时间</th>
                            <th >状态</th>
                            <th width="20%">操作</th>
                        </tr>
                        <tr ng-repeat="one in ll">
                            <td>
                                {{one.id}}
                            </td>
                            <td>
                                {{one.username}}
                            </td>
                            <td>
                                {{one.name}}
                            </td>
                            <td>
                                {{one.passwd}}
                            </td>
                            <td>
                                {{one.fangka}}
                            </td>
                            <td>
                                {{one.integral}}
                            </td>
                            <td>
                                {{one.totalBuyFangka}}
                            </td>
                            <td>
                                {{one.totalSellFangka}}
                            </td>
                            <td>
                                {{one.ctime|date:"yyyy/MM/dd" }}
                            </td>
                            <td>
                                {{getStatusLabel(one)}}
                            </td>
                            <td class="opts">
                                <button class="btn" ng-click="addFangka(one)">进货管理</button>
                                <button class="btn" ng-click="addIntegral(one)">积分管理</button>
                                <button class="btn" ng-if="one.status == 0" ng-click="chageStatus(one, 1)">激活</button>
                                <button class="btn" ng-if="one.status == 1" ng-click="chageStatus(one, 0)">冻结</button>
                                <button class="btn" ng-click="tmp.editOne = one; ctrl.isShowAdd = true;">编辑</button>
                                <button class="btn" ng-click="chageStatus(one, 10)">删除</button>
                            </td>
                        </tr>
                    </table>

                    <div ui-pagi="" pager="pager" on-change-page="queryLl(cp)"></div>
                </div>
            </div>


        </div><!-- /.row-fluid -->

    </div>

    <script type="text/x-template"
            ui-dialog="{showModel: 'ctrl.isShowAdd', title: '新增代理商', dialogId: 'dialogUser', lock: true, fixed: true, ext: {max: false}}">
        <table class="table table-bordered table-striped m_top6" style="width: 600px;" ng-form="tmp.addForm">
            <tr ui-layout-col="">
                <td><label>帐号：</label></td>
                <td><input type="text" ng-model="tmp.editOne.username"/></td>
            </tr>
            <tr>
                <td><label>密码：</label></td>
                <!-- ng-disabled="tmp.editOne.id" -->
                <td><input type="text" ng-model="tmp.editOne.passwd"/></td>
            </tr>
            <tr>
                <td><label>真实姓名：</label></td>
                <td><input type="text" ng-model="tmp.editOne.name" /></td>
            </tr>
        </table>
        <button class="btn btn-blue" ng-click="addAgent()">保存</button>
        <button class="btn" ng-click="ctrl.isShowAdd = false">关闭</button>
    </script>

    <script type="text/x-template"
            ui-dialog="{showModel: 'ctrl.isShowAddFangka', title: '增加房卡', dialogId: 'dialogUser', lock: true, fixed: true, ext: {max: false}}">
        <table class="table table-bordered table-striped m_top6" style="width: 600px;" ng-form="tmp.addForm">
            <tr ui-layout-col="">
                <td><label>代理商帐号：</label></td>
                <td><input type="text" ng-model="tmp.agent.username" readonly/></td>
            </tr>
            <tr>
                <td><label>代理商名称：</label></td>
                <!-- ng-disabled="tmp.editOne.id" -->
                <td><input type="text" ng-model="tmp.agent.name" readonly/></td>
            </tr>
            <tr>
                <td><label>进货数量：</label></td>
                <td><input type="text" ng-model="tmp.agent.fangka" />(正整数)</td>
            </tr>
        </table>
        <button class="btn btn-blue" ng-click="doAddFangka()">保存</button>
        <button class="btn" ng-click="ctrl.isShowAddFangka = false">关闭</button>
    </script>

    <script type="text/x-template"
            ui-dialog="{showModel: 'ctrl.isShowAddIntegral', title: '增加房卡', dialogId: 'dialogUser', lock: true, fixed: true, ext: {max: false}}">
        <table class="table table-bordered table-striped m_top6" style="width: 600px;" ng-form="tmp.addForm">
            <tr ui-layout-col="">
                <td><label>代理商帐号：</label></td>
                <td><input type="text" ng-model="tmp.agent.username" readonly/></td>
            </tr>
            <tr>
                <td><label>代理商名称：</label></td>
                <!-- ng-disabled="tmp.editOne.id" -->
                <td><input type="text" ng-model="tmp.agent.name" readonly/></td>
            </tr>
            <tr>
                <td><label>积分增减：</label></td>
                <td><input type="text" ng-model="tmp.agent.integral" />(正负数)</td>
            </tr>
        </table>
        <button class="btn btn-blue" ng-click="doAddIntegral()">保存</button>
        <button class="btn" ng-click="ctrl.isShowAddIntegral = false">关闭</button>
    </script>
</div>