<div ng-controller="MainCtrl">
    <div class="container-fluid">

        <div class="row-fluid">

            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon"><i class="icon-info"></i></span>
                    <h5>代理商公告</h5>
                    <div class="actions">
                        <button class="btn" ng-click="tmp.notice = {}; ctrl.isShowAdd = true;">新增公告</button>
                    </div>
                </div>

                <div class="widget-content">
                </div>

                <div class="widget-content">
                    <table class="table table-bordered table-striped">
                        <tr>
                            <th>公告时间</th>
                            <td>公告标题</td>
                            <th >公告内容</th>
                            <th>操作</th>
                        </tr>
                        <tr ng-repeat="one in ll">
                            <td>
                                {{one.ctime|date:"yyyy/MM/dd HH:mm:ss" }}
                            </td>
                            <td>
                                {{one.title}}
                            </td>
                            <td>
                                {{one.content}}
                            </td>
                            <td class="opts">
                                <button class="btn" ng-click="del(one)">删除</button>
                            </td>
                        </tr>
                    </table>

                    <div ui-pagi="" pager="pager" on-change-page="queryLl(cp)"></div>
                </div>
            </div>
        </div><!-- /.row-fluid -->

    </div>

    <script type="text/x-template"
            ui-dialog="{showModel: 'ctrl.isShowAdd', title: '增加公告', dialogId: 'dialogUser', lock: true, fixed: true, ext: {max: false}}">
        <table class="table table-bordered table-striped m_top6" style="width: 600px;" ng-form="tmp.addForm">
            <tr ui-layout-col="">
                <td><label>公告标题：</label></td>
                <td><input type="text" ng-model="tmp.notice.title" size="60"/></td>
            </tr>
            <tr>
                <td><label>公告内容：</label></td>
                <!-- ng-disabled="tmp.editOne.id" -->
                <td><textarea ng-model="tmp.notice.content" cols="50" rows="10"></textarea></td>
            </tr>
        </table>
        <button class="btn btn-blue" ng-click="doSaveNotice()">保存</button>
        <button class="btn" ng-click="ctrl.isShowAdd = false">关闭</button>
    </script>
</div>