@charset "utf-8";
body,h1,h2,h3,h4,h5,h6,p,form {margin: 0}
body {
    font-family: "Microsoft YaHei","宋体",arial,verdana,sans-serif;
    font-size: 14px;
    color: #777;
    background-color: #fff
}
h1,h2,h3,h4,h5,h6 {line-height: 100%}
ul {margin: 0;padding: 0;list-style: none}
a {text-decoration: none;outline: 0;}
a:focus {outline: 0}
img {border: 0}
table {border-collapse: collapse}
input,select,textarea {
    outline: 0;margin: 0;
    font-family: "Microsoft YaHei","宋体",arial,verdana,sans-serif
}





/* commond */
.l{float:left;}
.r{float:right;}
.dn{display:none;}
.db{display:block;}
.por{position:relative;}
.poa{position:absolute;}
.tac{text-align:center;}
.tal{text-align:left!important;}
.tar{text-align:right;}
.seo{text-indent:-9999px;}
.yahei{font-family:"Microsoft YaHei";}
.oh{overflow:hidden; zoom:1;}
.f16{font-size:16px!important;}
.orange{color:#ff6600;}
.green{color:#50aa58;}
.hide{display:none;}
.mb10{margin-bottom:10px;}
.mr10{margin-right:10px;}
.mr40{margin-right:40px;}
.mt133{margin-top: 133px;}
.hand{cursor:pointer;}
.bn{margin:0!important;}
/* 清除浮 动*/
.fix { *zoom: 1; }
.fix:after { display: table; content: ''; clear: both; }
.break{text-overflow:ellipsis;overflow:hidden;white-space:nowrap;}
.breakRow2 {
    text-overflow: -o-ellipsis-lastline;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}