<div ng-controller="MainCtrl">
    <div class="container-fluid">

        <div class="row-fluid">

            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon"><i class="icon-info"></i></span>
                    <h5>服务列表</h5>
                </div>

                <div class="widget-content">
                    <form name="queryForm">
                        <table class="table table-bordered table-striped m_top6">
                            <tr ui-layout-col="">
                                <td>
                                    <label>玩家id：</label>
                                </td>
                                <td>
                                    <input type="text" ng-model="query.userId"/>
                                </td>
                                <td>
                                    <label>游戏日期：</label>
                                </td>
                                <td>
                                    <input type="text" ng-model="query.startTime"
                                           ui-date="{dateFormat: 'yy-mm-dd', changeMonth: true, changeYear: true, showOtherMonths: true, showHour: false, showMinute: false}"
                                           ui-valid="datetime"/>
                                    至
                                    <input type="text" ng-model="query.endTime"
                                           ui-date="{dateFormat: 'yy-mm-dd', changeMonth: true, changeYear: true, showOtherMonths: true, showHour: false, showMinute: false}"
                                           ui-valid="datetime"/>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="6" class="al">
                                    <button class="btn-primary" ng-click="queryLl()">查询</button>
                                </td>
                            </tr>
                        </table>
                    </form>
                </div>

                <div class="widget-content">
                    <table class="table table-bordered table-striped">
                        <tr>
                            <th >房间号</th>
                            <th >玩家1昵称</th>
                            <th >玩家1总分</th>
                            <th >玩家2昵称</th>
                            <th >玩家2总分</th>
                            <th >玩家3昵称</th>
                            <th >玩家3总分</th>
                            <th >玩家4昵称</th>
                            <th >玩家4总分</th>
                            <th >房主名称</th>
                            <th >游戏开始时间</th>
                            <th >游戏结束时间</th>
                        </tr>
                        <tr ng-repeat="one in ll">
                            <td>
                                {{one.roomName}}
                            </td>
                            <td>
                                {{getPlayerName(one, 0)}}
                            </td>
                            <td>
                                {{getPlayerScore(one, 0)}}
                            </td>
                            <td>
                                {{getPlayerName(one, 1)}}
                            </td>
                            <td>
                                {{getPlayerScore(one, 1)}}
                            </td>
                            <td>
                                {{getPlayerName(one, 2)}}
                            </td>
                            <td>
                                {{getPlayerScore(one, 2)}}
                            </td>
                            <td>
                                {{getPlayerName(one, 3)}}
                            </td>
                            <td>
                                {{getPlayerScore(one, 3)}}
                            </td>
                            <td>
                                {{one.ownerName}}
                            </td>
                            <td>
                                {{one.startTime|date:"yyyy/MM/dd HH:mm:ss"}}
                            </td>
                            <td>
                                {{one.endTime|date:"yyyy/MM/dd HH:mm:ss"}}
                            </td>
                        </tr>
                    </table>
                    <div ui-pagi="" pager="pager" on-change-page="queryLl(cp)"></div>
                </div>
            </div>
        </div><!-- /.row-fluid -->
    </div>
</div>